@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.toDoInput {
    padding: 10px;
    width: 194px;
    height: 40px;
    margin: 5px;
    background-color: rgb(107 114 128);
    border: none;
    border-radius: 10px;
    font-family: "Outfit";
    font-weight: 600;
    color: whitesmoke;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.toDoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}

.deleteBtn {
    background: none;
    border: 0;
    cursor: pointer;
}

/* En tu archivo CSS o módulo de estilos */
.button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #e62222;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
  
  .span {
    transition: 200ms;
  }
  
  .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 15px;
    fill: #eee;
  }
  
  .button:hover {
    background: #ff3636;
  }
  
  .button:hover .span {
    color: transparent;
  }
  
  .button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(1px); /* Pequeño desplazamiento para que la animación ocurra */
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active .icon svg {
    transform: scale(0.8);
  }
  
  .toDoCheckbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid green;
    border-radius: 0.5rem;
  }
  