@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.toDoInput {
    padding: 10px;
    width: 194px;
    height: 40px;
    margin: 5px;
    background-color: rgb(107 114 128);
    border: none;
    border-radius: 10px;
    font-family: "Outfit";
    font-weight: 600;
    color: whitesmoke
}

.toDoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}

.deleteBtn {
    background: none;
    border: 0;
    cursor: pointer;
}